<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MeMo-JATOS</title>
        <link rel="icon" href="assets/hector_favicon.png">
        <link rel="stylesheet" href="styles/common.css">
        <link rel="stylesheet" href="styles/choice.css">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://unpkg.com/jquerykeyframes@1.0.8/dist/jquery.keyframes.min.js"></script>
        <script src="utils/misc.js"></script>
        <script src="utils/randfuncs.js"></script>
        <script src="utils/eventhandlers.js"></script>
        <script src="utils/circle-layout.js"></script>
        <script src="utils/animations.js"></script>
    </head>

    <body>
        <div class="hidden">
            <div id="grid" style="cursor: none;">
                <div id="tcount">Trials completed: </div>
                <div id="prompt"><h1>Choosing family...</h1></div>
                <div id="menu-container">
                    <div id="menu-square">
                        <div id="center"></div>
                        <div id="pointer">
                            <img src="assets/greencursor2.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

    <script>
        function main() {
            // Get family handles from the component JSON input data and shuffle if needed
            let acts = Object.keys(jatos.studySessionData["famRuleMap"]);
            if (jatos.componentJsonInput.shuffleDisplay) {
                shuffle(acts)
            }

            // Create a choice button for each activity, hook it up to a click handler, and append to the `#choice-panel` container
            for (let i = 0; i < acts.length; i++) {
                let cbtn = $(document.createElement('input')).prop({
                    class: "option",
                    type: "image",
                    src: `assets/stimuli/monsters-preview/f${acts[i]}.png`,
                    value: acts[i],
                    id: `option${acts[i]}`
                });
                $('#menu-square').append(cbtn)
            }
            
            // Arranges choices available in a circular layout (return pixel coordinates of each item)
            offsets = distributeChoices()
            defineAnimationKeyframe(jatos.studySessionData.choice, acts, offsets)

            // Display number of trials completed
            $("#tcount").prop({
                innerHTML: `Trials completed: ${jatos.studySessionData.currentStage.trialsComplete} / ${jatos.studySessionData.currentStage.maxTrials}`,
            })

            // Record when choices are revealed to measure approximate decision time
            jatos.studySessionData['decisionOnset'] = undefined

            revealElements()

            setTimeout(forceChoice, 1000)

            runPointerAnimations()

            runChoiceAnimations(jatos.studySessionData.choice)
        }

        jatos.onLoad(function() {
            // Add abort button
            addCustomAbortButton()

            // Setup and reveal remaining elements
            setTimeout(main, getOverlaySetting("duration"))
        })
      </script>  
</html>