<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>MeMo-JATOS</title>
        <link rel="icon" href="assets/hector_favicon.png">
        <link rel="stylesheet" href="styles/common.css">
        <link rel="stylesheet" href="styles/intro.css">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="utils/misc.js"></script>
        <script src="utils/init.js"></script>
    </head>
    <body>
        <div class="center-h">
            <div class="center-v">
                <div>
                    <h1>You are beginning<br>the free-play stage</h1>
                    <p>Please make sure there are no distractions around you.</p>
                    <p>We will ask you to play at least 250 rounds. You are free to choose the family with which you want to play. Take as much time as you need, but try not to interrupt your play.</p>
                    <p>Afterwards, we will ask you a few more questions about your experience after which the task will be over.</p>
                </div>
                <div>

                </div>
                <div>
                    <button class="styled-button" id="proceed">Proceed</button>
                </div>
            </div>
        </div>
    </body>

    <script>
        jatos.onLoad(function() {
            $("#proceed").on('click', initTrial)
        })
    </script>
</html>