<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TITLE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/choice.css">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="utils/randfuncs.js"></script>
    </head>

    <body>
        <p id="trial-count">Trials completed: </p>
        <h1>Choose activity</h1>
        <div class="container" id="choice-panel"></div>
    </body>

    <script>

        // Declare or execute
        function execChoice() {
            // Reset siblings' class to choice-input
            $(this).siblings().each(function(){
                $(this).removeClass("choice-input--active")
                $(this).addClass("choice-input")
            })
            
            // Check if user declares or commits to a choice and act accordingly
            if ($(this).hasClass("choice-input")) {
                // Add modifier to the class of clicked element
                $(this).removeClass("choice-input")
                $(this).addClass("choice-input--active")
            } else if ($(this).hasClass("choice-input--active")) {
                // Execite committed choice
                jatos.studySessionData["choice"] = this.value
                jatos.startComponentByPos(3);
            }
        };
        
        jatos.onLoad(function() {
            // Get family handles from the component JSON input data and shuffle if needed
            let acts = Object.keys(jatos.studySessionData["famRuleMap"]);
            if (jatos.componentJsonInput.shuffleDisplay) {
                shuffle(acts)
            };

            // Create a choice button for each activity, hook it up to a click handler, and append to the `#choice-panel` container
            for (let i = 0; i < acts.length; i++) {
                let cbtn = $(document.createElement('input')).prop({
                    class: "choice-input",
                    type: "image",
                    src: `assets/stimuli/monsters-preview/f${acts[i]}.png`,
                    value: acts[i],
                })
                cbtn.on('click', execChoice);
                $('#choice-panel').append(cbtn);
            };

            // Display number of trials completed
            $("#trial-count").prop({
                innerHTML: `Trials completed: ${jatos.studySessionData["freeTrialsComplete"]}`,
            })

            // Add ABORT button
            jatos.addAbortButton();


            console.log(jatos.studySessionData["famRuleMap"])
            console.log(jatos.studySessionData["famCatMap"])
        });
      </script>  
</html>