<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta itemprop="description" content="consent">
        <title>MeMo-JATOS</title>
        <link rel="icon" href="assets/hector_favicon.png">
        <link rel="stylesheet" href="styles/common.css">
        <link rel="stylesheet" href="styles/consent.css">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="utils/misc.js"></script>
        <script src="utils/randfuncs.js"></script>
        <script src="utils/stimgen.js"></script>
        <script src="utils/init.js"></script>
        <script src="utils/eventhandlers.js"></script>
    </head>
    
    <body>
        <div class="logos">
            <a href="https://uni-tuebingen.de/en/faculties/faculty-of-economics-and-social-sciences/subjects/department-of-social-sciences/education-sciences-and-psychology/institute/" target="_blank"><img class="logo" src="assets/logo_hib.png"/></img></a>
            <a href="https://uni-tuebingen.de/en/" target="_blank"><img class="logo" src="assets/logo_uni.png"></img></a>
        </div>

        <div class="info">
            <h1>Study: Exploring Monsters</h1>
            <div class="section">
                <h2>General Participant Information About the Study </h2>
                <p>
                    Thank you for your interest in participating in our study. The study is conducted by Alexandr Ten, Michiko Sakaki, Kou Murayama, and collaborators at the Hector Institute for Educational Sciences and Psychology of the University of Tübingen. In this study, we will ask you to play a guessing game in which you will explore food preferences of fictional monsters.
                </p>
                <p>
                    To participate, you MUST meet the following criteria: 
                    <ul>
                        <li>Be 18 years of age or older</li>
                        <li>Be a fluent or native speaker of English</li>
                        <li>Have never participated in this experiment before</li>
                    </ul>
                </p>
                <p>
                    The study will take between 50 and 100 minutes in total. After completing the study, you will be paid as indicated on Prolific.
                </p>
            </div>
    
            <div class="section">
                <h2>Voluntary Nature of the Study and Anonymity</h2>
                <p>
                    We will identify data collected from you only by your anonymized Prolific ID, which cannot be used to directly identify you. We need to store this data temporarily for the purposes of reimbursement. At most 60 days after processing your payment, we will encrypt your Prolific ID making your data completely anonymized. The anonymized data will be stored for a minimum of 10 years. As long as your Prolific ID exists in our records, you may request that your data be deleted by reaching out to the research team (see contacts below). After being anonymized, it will be impossible to trace your data back to you.
                </p>
            </div>

            <div class="section">
                <h2>Data Protection</h2>
                <p>
                    Your participation in the study is completely voluntary. You may withdraw your participation from the study at any time without providing any reasons. Data collected during the study and any personal communications we have will be treated confidentially. Project team members who have access to your personal data are also subject to confidentiality and data secrecy. Furthermore, the results of the study will be published anonymously, i.e., the data cannot be traced back to you.
                </p>
            </div>

            <div>
                <h2>Research team</h2>
                <div class="contact-board">
                    <div class="contact-card">
                        <div class="person">Dr. Alexandr Ten</div>
                        <div class="role">Correspondence</div>
                        <div class="contacts">
                            <p>
                                <a href="mailto:alexandr.ten@uni-tuebingen.de">✉️ alexandr.ten@uni-tuebingen.de</a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-card">
                        <div class="person">Prof. Michiko Sakaki</div>
                        <div class="role">Principal investigator</div>
                        <div class="contacts">
                            <p>
                                📞 07071 29-76122<br/>
                                <a href="mailto:michiko.sakaki@uni-tuebingen.de">✉️ michiko.sakaki@uni-tuebingen.de</a>
                            </p>
                        </div>
                    </div>
                    <div class="contact-card">
                        <div class="person">Prof. Kou Murayama</div>
                        <div class="role">Principal investigator</div>
                        <div class="contacts">
                        <p>
                            📞 07071 29-76082<br/>
                            <a href="mailto:k.murayama@uni-tuebingen.de">✉️ k.murayama@uni-tuebingen.de</a>
                        </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section">
                <h2>Consent</h2>
                <b>By proceeding to participate in our experiment, you declare agreement with the following statements:</b>
                <ul>
                    <li>I am aware that participation in the study is completely voluntary and that I can withdraw my participation at any time without providing any reasons. I will face no negative consequences if I withdraw my participation early.</li>
                    <li>I have read the information about data protection above and accept the conditions. I agree to have my data saved and completely anonymized within 60 days after the processing of my participation compensation.</li>
                    <li>I am aware that while my data can still be identified, I have the right to request for it to be deleted without providing any reasons. I have also been informed that I may contact the research team to have my data deleted before they become fully anonymized.</li>
                    <li>The data collected for the study will be analyzed at the University of Tübingen. I also consent that my anonymized data may be used for further research purposes and that the data will be stored for a minimum of 10 years at the University of Tübingen.</li>
                    <li>I consent for my data to be recorded for the purposes of the study and for their use for scientific purposes including the anonymous publication in scientific journals.</li>
                    <li>I agree that the anonymized data can be used in other research projects and can be accessible to other researchers on scientific platforms such as the Open Science Framework (<a href="www.osf.io">www.osf.io</a>).</li>
                    <li>I have had the time to read through the information about the study and data protection carefully and am ready to take part in the study.</li>
                </ul>
            </div>

            <div class="form">
                <div class="cb">
                    <input type="checkbox" name="confirmation1" value="0"/>
                    <label for="confirmation1">I have read and understood the information on this page</label>
                </div>
                <div class="cb">
                    <input type="checkbox" name="confirmation2" value="0"/>
                    <label for="confirmation2">I declare my consent to participate in the study named "Exploring Monsters"</label>
                </div>
                <button class="begin-button">Begin</button>
            </div>

        </div>
    </body>

    <script>      
        jatos.onLoad(function() {
            function toInstructions() {
                if ($('.cb > input:checked').length == $('.cb > input').length) {
                    jatos.startComponentByPos(getComponentPos("instructions"))
                } else {
                    alert("Please acknowledge your understanding of participation terms and state your consent to proceed.")
                }
            }
            $(".begin-button").on("click", toInstructions);

            if (jatos.studyJsonInput.skipInstructions) {
                initSession()       // Defined in initsess.js
                nextTrialOrStage(true)
            }

            // Add abort button
            addCustomAbortButton();
        });
      </script>  
</html>