<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MeMo-JATOS</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="utils/misc.js"></script>
        <script src="utils/randfuncs.js"></script>
        <script src="utils/init.js"></script>
        <script src="utils/eventhandlers.js"></script>
    </head>
    <body>
        <p>
            Information about the study.
            By clicking BEGIN you agree with terms and conditions bla-bla-bla...
        </p>
        <button class="btn" id="begin-button">BEGIN</button>
    </body>

    <script>      
        jatos.onLoad(function() {
            $("#begin-button").on("click", beginTask);

            // Add abort button
            addCustomAbortButton();
        });
      </script>  
</html>