<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TITLE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="utils/init_session.js"></script>
    </head>
    <body>
        <p>
            Information about the study.
            By clicking BEGIN you agree with terms and conditions bla-bla-bla...
        </p>
        <button class="btn" id="begin-button">BEGIN</button>
    </body>

    <script>
        // Observe what P chooses and act accordingly
        function beginTask(){
            initSession()
            jatos.startComponentByPos(2)
        };
        
        jatos.onLoad(function() {
            $("#begin-button").on('click', beginTask);
        });
      </script>  
</html>