<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TITLE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/guess.css">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="trial-count">Trials completed: </div>
        <div id="prompt"><h1>What does this monster like to eat?</h1></div>
        <div id="stimulus"></div>
        <div id="responses"></div>
    </body>

    <script>
        jatos.onLoad(function() {
            // Record participant response (guess), save results, and proceed
            function registerResponse(){
                jatos.studySessionData['freeTrialsComplete'] += 1
                var resultData = {
                    "trialsComplete": jatos.studySessionData['freeTrialsComplete'], 
                    "guess": this.value,
                    "choice":  jatos.studySessionData['choice']
                };
                jatos.appendResultData(resultData);

                // If `maxTrials` is reached, end study, else circle back to choice phase
                if (jatos.studySessionData['freeTrialsComplete'] >= jatos.studyJsonInput['maxTrials']) {
                    jatos.endStudy()
                } else {
                    jatos.startComponentByPos(2)
                };
            };

            // Add stimulus image
            // Display activity choice
            const fam = jatos.studySessionData['choice']
            const features = [1, 1]
            $("#stimulus").prepend(
                $("<img>", {
                    id: `image`,
                    src: `assets/stimuli/monsters/f${s}_${s}_${s}.png`,
                })
            );

            // Add response images
            

            // Link `registerResponse` function with the click event of all response buttons
            $("#responses").children().on('click', registerResponse);

            // Display number of trials completed
            $("#trial-count").prop({
                innerHTML: `Trials completed: ${jatos.studySessionData['freeTrialsComplete']}`,
            });
            
        });
        jatos.addAbortButton();
      </script>
</html>