<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta itemprop="description" content="guess-confidence">
        <title>MeMo-JATOS</title>
        <link rel="icon" href="assets/hector_favicon.png">
        <link rel="stylesheet" href="styles/common.css">
        <link rel="stylesheet" href="styles/guess.css">
        <link rel="stylesheet" href="styles/input-confidence.css">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <!-- The order of the following imports is important! -->
        <script src="utils/randfuncs.js"></script>
        <script src="utils/misc.js"></script>
        <script src="utils/stimgen.js"></script>
        <script src="utils/init.js"></script>
        <script src="utils/eventhandlers.js"></script>
    </head>
    <body>
        <div class="hidden">
            <div id="grid">
                <div id="tcount">Trials completed: </div>
                <div id="prompt"><h1>What does this monster like to eat?</h1></div>
                <div id="stimulus-flex-row">
                    <div class="side-block" id="feedback-block">
                        <img id="correct-image" src="assets/stimuli/feedback/yum.png">
                        <img id="incorrect-image" src="assets/stimuli/feedback/yuck.png">
                    </div>
                    <div class="side-block" id="empty-block"></div>
                </div>
                <div id="input-cell">
                    <p class="label" id="label-mid">Not sure</p>
                    <p class="label untargeted" id="label-left">I'm sure it's</p>
                    <p class="label untargeted" id="label-right">I'm sure it's</p>
                    <div class="bar-bg-left"><div class="bar-fg" style="width:0%"></div></div>
                    <div class="bar-bg-right"><div class="bar-fg" style="width:0%"></div></div>
                    <button class="submit-button disabled">
                        Submit guess
                        <span id="disabled-hint">💡 Please, provide a guess by moving the green slider above.</span>
                    </button>
                </div>
            </div>
            <audio id="correct-sound" src="assets/stimuli/feedback/mmm.mp3" type="audio/mp3"></audio>
            <audio id="incorrect-sound" src="assets/stimuli/feedback/raspberry_grosser.mp3" type="audio/mp3"></audio>
            <div id="mask"></div>
        </div>
    </body>

    <script>
        function main() {
            // Display number of trials completed
            $("#tcount").prop({
                innerHTML: `Trials completed: ${jatos.studySessionData.currentStage.trialsComplete} / ${jatos.studySessionData.currentStage.maxTrials}`,
            });
            
            // Generate stimulus parameters
            const famChoiceInd = parseInt(jatos.studySessionData.choice);
            const rule = jatos.studySessionData.famRuleMap[famChoiceInd];
            const stimFeatures = getStimFeatures(rule.nVarDims);
            const stimCategory = getStimCat(stimFeatures, rule.label); // Either 0 or 1, depending on the rule and relevant features

            // Add stimulus image
            $("#feedback-block").after(
                $("<img>", {
                    id: "stimulus",
                    src: `assets/stimuli/monsters/f${famChoiceInd}_${stimFeatures[0]}_${stimFeatures[1]}.png`,
                    draggable: false,
                })
            );

            // Add confidence scale and response images
            const responses = jatos.studySessionData.famCatMap[famChoiceInd];
            const correctResponse = responses[stimCategory];
            const shuffledResponses = shuffle([...responses]);

            $("#input-cell").append(
                $("<input>", {
                    class: "confidence-slider",
                    type: "range",
                    min: -1.00,
                    max: 1.00,
                    step: 0.01,
                    value: 0.00
                })
            )           
            $("#input-cell").append(
                $("<input>", {
                    type: "image",
                    class: "answer untargeted",
                    id: "answer-left",
                    src: `assets/stimuli/food/fi${shuffledResponses[0]}.png`,
                    value: `${shuffledResponses[0]}`
                })
            )
            $("#input-cell").append(
                $("<input>", {
                    type: "image",
                    class: "answer untargeted",
                    id: "answer-right",
                    src: `assets/stimuli/food/fi${shuffledResponses[1]}.png`,
                    value: `${shuffledResponses[1]}`

                })
            )
            
            $(".confidence-slider").on('change', readSlider)
            $(".confidence-slider").on('input', readSlider)
            $(".answer").on('click', shiftSlider)
            
            // Reveal elements and hide JATOS overlay on callback
            revealElements(jatos.removeOverlay)

            // Link `confidenceResponse` function with the submit button
            data = {
                confidenceSlider: $(".confidence-slider"), // TODO does this work???
                correctResponse: correctResponse,
                famChoiceInd: famChoiceInd,
                stimFeatures: stimFeatures,
                ruleLabel: rule.label,
                responseOrder: shuffledResponses,
                stimOnset: Date.now()
            }
            $(".submit-button").on('click', data, confidenceResponse)
        }

        jatos.onLoad(function() {
            // Add abort button
            addCustomAbortButton()

            // Add JATOS overlay
            jatos.showOverlay({
                "text": "+", 
                "imgUrl": "",
                "style": `background-color: ${getOverlaySetting("background")}; width: 100%; height: 100%; font-size: 2em; opacity: 1; text-shadow: none;`
            })

            // Setup and reveal remaining elements
            setTimeout(main, getOverlaySetting("duration"))
        })

    </script>
</html>