<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TITLE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="styles/guess.css">
        <script src="jatos.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="utils/randomization.js"></script>
        <script src="utils/stim_gen.js"></script>
    </head>
    <body>
        <div id="trial-count">Trials completed: </div>
        <div id="prompt"><h1>What does this monster like to eat?</h1></div>
        <div id="stimulus"></div>
        <div id="responses"></div>
    </body>

    <script>
        jatos.onLoad(function() {
            function registerResponse(event){
                alert(`You clicked on ${this.value}, correct response is ${event.data.correct}`)
                // Increment number of free trials complete, make a response record, and save data
                jatos.studySessionData['freeTrialsComplete'] += 1
                let resultData = {
                    "trialsComplete": jatos.studySessionData['freeTrialsComplete'], 
                    "guess": this.value,
                    "choice":  jatos.studySessionData['choice']
                };
                jatos.appendResultData(resultData);

                // If `maxTrials` is reached, end study, else circle back to choice phase
                if (jatos.studySessionData['freeTrialsComplete'] >= jatos.studyJsonInput['maxTrials']) {
                    jatos.endStudy()
                } else {
                    jatos.startComponentByPos(2)
                };
            };

            
            // Generate stimulus parameters
            const choiceInd = parseInt(jatos.studySessionData['choice']);
            const [dimVariance, dimRelevance] = jatos.studySessionData['famRuleMap'][choiceInd];
            const stimulusFeatures = genStimFeatures(dimVariance);
            const relevantFeatures = getRelevantFeatures(stimulusFeatures, dimRelevance);
            const stimulusCategory = getStimCat(relevantFeatures);
            
            // Add stimulus image
            $("#stimulus").prepend(
                $("<img>", {
                    id: "stimulus",
                    src: `assets/stimuli/monsters/f${choiceInd}_${stimulusFeatures[0]}_${stimulusFeatures[1]}.png`,
                })
            );

            // Add response images
            const responses = jatos.studySessionData['famCatMap'][choiceInd];
            const shuffledResponses = shuffle([...responses])
            const correctResponse = responses[stimulusCategory];
            for (i = 0; i < responses.length; i++) {
                $("#responses").prepend(
                    $("<input>", {
                        id: "response",
                        type: "image",
                        src: `assets/stimuli/food/fi${shuffledResponses[i]}.png`,
                        value: `${shuffledResponses[i]}`,
                        alt: "Clickable",
                    })
                )
            };

            // Link `registerResponse` function with the click event of all response buttons
            $("#responses").children().on('click', {correct: correctResponse}, registerResponse);

            // Display number of trials completed
            $("#trial-count").prop({
                innerHTML: `Trials completed: ${jatos.studySessionData['freeTrialsComplete']}`,
            });
            
        });
        jatos.addAbortButton();
      </script>
</html>