<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>MeMo-JATOS</title>
  <!-- viewport setup -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="jatos.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="utils/randfuncs.js"></script>
  <script src="utils/misc.js"></script>
  <script src="utils/stimgen.js"></script>
  <script src="utils/init.js"></script>
  <script src="utils/eventhandlers.js"></script>
  <!-- lab.js library and experiment code -->
  <!-- lab.js library code -->
  <script src="lib/labjs/lab.js" data-labjs-script="library"></script>
  <script src="lib/labjs/lab.fallback.js" data-labjs-script="fallback"></script>
  <link rel="stylesheet" href="lib/labjs/lab.css">
  <!-- study code and styles -->
  <script src="utils/survey1.js" defer="true"></script>
  <link rel="stylesheet" href="styles/surveys.css">
</head>
<body>
  <!-- If you'd rather have a container with a fixed width
       and variable height, try removing the fullscreen class below -->
  <div class="container fullscreen" data-labjs-section="main">
    <main class="content-vertical-center content-horizontal-center">
      <div>
        <h2>Loading Questionnaire</h2>
      </div>
    </main>
  </div>
</body>
</html>
