* {
    /* border: 1px solid black */
    font-family: sans-serif;
}

div#grid {
    display: grid;
    height: 90vh; /* vh = percentage of viewport height */
    grid-template-rows: 5% 10% 70% auto;
    position: relative;
}

div#tcount {
    grid-row-start: 1;
    display: flex;
    justify-content: right;
}

div#prompt {
    grid-row-start: 2;
    display: flex;
    justify-content: center;
}

div#menu-container {
    grid-row-start: 3;
    display: flex;
    justify-content: center;
}

div#menu-square {
    display: block;
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
}

input.option {
    width: 20%;
    aspect-ratio: 1 / 1;
    border: 3px solid rgb(85, 85, 85);
    border-radius: 100%;
    padding: 1%;
    position: absolute;
}
input.option:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input.option--active {
    width: 20%;
    border: 5px solid #4CAF50;
    border-radius: 100%;
    padding: 1%;;
    position: absolute;
}


#center {
    display: none; /* change to block to reveal*/
    width: 1px;
    height: 1px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #000;
}

div#pointer {
    display: block; /* change to block to reveal*/
    width: 30px;
    height: 30px;
    position: relative;
    left: 50%;
    top: 50%;
    z-index: 98;
}

div#pointer img {
    max-height: 100%;
    z-index: 98;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes highlight-shadow {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    } 
}

@keyframes highlight-border {
    from {
        border: 3px solid rgb(85, 85, 85);
    }
    to {
        border: 5px solid #4CAF50;
    } 
}