div#mask {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100; /* some high z-index */
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    user-select: none; /* prevents double clicking from highlighting entire page */
  }

div#grid {
    display: grid;
    height: 90vh; /* vh = percentage of viewport height */
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 5% 10% 60% 25%;
}

div#tcount {
    grid-row-start: 1;
    grid-column-start: 2;
    display: flex;
    justify-content: right;
    margin-top: 1em;
}

div#prompt {
    grid-row-start: 2;
    grid-column-start: 2;
    display: flex;
    justify-content: center;
}

div#stimulus-flex-row {
    display: flex;
    justify-content: center;
    grid-row-start: 3;
    grid-column-start: 2;
    margin-bottom: 3%;
    border: 3px solid black;
    border-radius: 40px;
    width: 50%;
    border-radius: 40px;
    background-color: white;
    justify-self: center
}

div.side-block {
    display: flex;
    max-height: 30%;
    justify-content: right;
    margin-top: 5%;
}

img#correct-image {
    display: none;
    position: absolute;
    opacity: 0;
}

img#incorrect-image {
    display: none;
    position: absolute;
    opacity: 0;
}

img#stimulus {
    max-height: 100%;
    margin-bottom: 5%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}