.input-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    /* height: 60vh; */
    font-size: 10px;
}

.input-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: auto 70% auto;
    justify-items: center;
    /* max-height: 10%; */
}

.input-row > .prompt {
    grid-column-start: 2;
}

.input-row > .confidence-slider {
    grid-column-start: 2;
}

.input-row > .left {
    grid-column-start: 1;
    grid-row-start: 2;
    font-size: 40px;
    padding: 0 10%;
    text-align: center;
}

.input-row > .right {
    grid-column-start: 3;
    grid-row-start: 2;
    font-size: 40px;
    padding: 0 10%;
    text-align: center;
}

.row1 {grid-row-start: 1}
.row2 {grid-row-start: 2}
.row3 {grid-row-start: 3}

.playable:hover {
    cursor: pointer
}

.feedback-row {
    display: flex;
}

.feedback-row > div {
    margin: 20px;
    height: 30px;
    aspect-ratio: 1 / 1;
    background-color: tomato;
    border-radius: 50%;
}