.tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    height: 100vh;
}

.prompt {
    width: 60%;
    margin-top: 20px;
}

.usr-inp {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.answer {
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .answer > span {
    margin-bottom: .5em;
} */

.slider-container {
    width: 60%;
    display: flex;
    justify-content: center;
    margin: 0;
    max-height: 70px;
}

.playable:hover {
    cursor: pointer
}

.feedback-row {
    display: flex;
    justify-content: center;
}

.feedback-row > div {
    margin: 20px;
    height: 30px;
    aspect-ratio: 1 / 1;
    background-color: tomato;
    border-radius: 50%;
}